@page "/admin/customers/organizations"
@attribute [Authorize(Roles = ArmedMFG.BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits ArmedMFG.BlazorAdmin.Helpers.BlazorComponent
@namespace ArmedMFG.BlazorAdmin.Pages.CustomerOrganizationsPage

<PageTitle>ArmedMFG Admin</PageTitle>

<h1>Manage Organizations</h1>

@if (_organizations == null)
{
    <Spinner></Spinner>
}
else
{
    
    <p class="esh-link-wrapper">
        <button class="btn btn-primary" @onclick="@(CreateClick)">
            Добавить
        </button>
    </p>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Телефон</th>
            <th>Эл. почта</th>
            <th>Описание</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody class="cursor-pointer">
        @foreach (var organization in _organizations)
        {
            <tr>
                <td>@organization.Id</td>
                <td>@organization.Name</td>
                <td>@organization.PhoneNumber</td>
                <td>@organization.Email</td>
                <td>@organization.Description</td>
                <td>
                    <button @onclick="@(() => EditClick(organization.Id))" @onclick:stopPropagation="true" class="btn btn-primary">
                        Изменить
                    </button>

                    <button @onclick="@(() => DeleteClick(organization.Id))" @onclick:stopPropagation="true" class="btn btn-danger">
                        Удалить
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    
    <Create OnSaveClick="ReloadOrganizations" @ref="CreateComponent"></Create>
    <Delete OnSaveClick="ReloadOrganizations" @ref="DeleteComponent"></Delete>
    @* <Details Categories="@materialCategories" OnEditClick="EditClick" @ref="DetailsComponent"></Details> *@
    @* <Edit Categories="@materialCategories" OnSaveClick="ReloadMaterialTypes" @ref="EditComponent"></Edit> *@
}
