@page "/admin/material-types/supplies"
@attribute [Authorize(Roles = ArmedMFG.BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits ArmedMFG.BlazorAdmin.Helpers.BlazorComponent
@namespace ArmedMFG.BlazorAdmin.Pages.MaterialSupplyPage

<PageTitle>ArmedMFG Admin</PageTitle>

<h1>Поставки сырья</h1>

@if (_materialSupplies == null)
{
    <Spinner></Spinner>
}
else
{
    
    <p class="esh-link-wrapper">
        <button class="btn btn-primary" @onclick="@(CreateClick)">
            Добавить
        </button>
    </p>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Дата доставки</th>
            <th>Тип сырья</th>
            <th>Цена (всего)</th>
            <th>Объем</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody class="cursor-pointer">
        @foreach (var materialSupply in _materialSupplies)
        {
            <tr>
                <td>@materialSupply.Id</td>
                <td>@materialSupply.DeliveredDate</td>
                <td>@materialSupply.MaterialType</td>
                <td>@materialSupply.UnitPrice</td>
                <td>@materialSupply.Amount</td>
                <td>
                    <button @onclick="@(() => EditClick(materialSupply.Id))" @onclick:stopPropagation="true" class="btn btn-primary">
                        Изменить
                    </button>

                    <button @onclick="@(() => DeleteClick(materialSupply.Id))" @onclick:stopPropagation="true" class="btn btn-danger">
                        Удалить
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    
    <Create MaterialTypes="@_materialTypes" OnSaveClick="ReloadMaterialSupplies" @ref="CreateComponent"></Create>
    <Delete MaterialTypes="@_materialTypes" OnSaveClick="ReloadMaterialSupplies" @ref="DeleteComponent"></Delete>
    @* <Details Categories="@materialCategories" OnEditClick="EditClick" @ref="DetailsComponent"></Details> *@
    @* <Edit Categories="@materialCategories" OnSaveClick="ReloadMaterialTypes" @ref="EditComponent"></Edit> *@
}
