@page "/admin/orders/shipments"
@attribute [Authorize(Roles = ArmedMFG.BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits ArmedMFG.BlazorAdmin.Helpers.BlazorComponent

<PageTitle>ArmedMFG Admin</PageTitle>

<h1>Список Отправок продуктов</h1>

@if (_orderShipments == null)
{
    <Spinner></Spinner>
}
else
{

    <p class="esh-link-wrapper">
        <button class="btn btn-primary" @onclick="@(CreateClick)">
            Добавить
        </button>
    </p>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID Заказа</th>
            <th>Дата Отправки</th>
            <th>Отправленые Товары</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody class="cursor-pointer">
        @foreach (var order in _orderShipments)
        {
            <tr @onclick="@(() => DetailsClick(order.Id))">
                <td>@order.Id</td>
                <td>@order.ShipmentDate</td>
                <td>
                    @foreach (var shipmentProduct in order.ShipmentProducts)
                    {
                        <div>@shipmentProduct.ProductType - @shipmentProduct.Quantity</div><br>
                    }
                </td>
                <td>
                    <button @onclick="@(() => EditClick(order.Id))" @onclick:stopPropagation="true" class="btn btn-primary">
                        Изменить
                    </button>

                    <button @onclick="@(() => DeleteClick(order.Id))" @onclick:stopPropagation="true" class="btn btn-danger">
                        Удалить
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    @* <Details Categories="@materialCategories" OnEditClick="EditClick" @ref="DetailsComponent"></Details> *@
    @* <Edit Categories="@materialCategories" OnSaveClick="ReloadOrders" @ref="EditComponent"></Edit> *@
    <Create ProductTypes="@productTypes"  OnSaveClick="ReloadOrderShipments" @ref="CreateComponent"></Create>
    <Delete ProductTypes="@productTypes"  OnSaveClick="ReloadOrderShipments" @ref="DeleteComponent"></Delete>
}
