@inject ILogger<Delete> Logger
@inject IJSRuntime JSRuntime
@inject IProductBatchService ProductBatchService

@inherits ArmedMFG.BlazorAdmin.Helpers.BlazorComponent

@namespace ArmedMFG.BlazorAdmin.Pages.ProducedProductsPages

<div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Product Batch with ID: @_productBatch.Id</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (_productBatch == null)
                {
                    <Spinner></Spinner>
                }
                else
                {
                    <div class="container">
                        <div class="row">
                            <dl class="col-md-12 dl-horizontal">
                                <dt>
                                    Produced Date
                                </dt>

                                <dd>
                                    @_productBatch.ProducedDate
                                </dd>
                            </dl>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Product Type</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody class="cursor-pointer">
                            @foreach (var producedProduct in _productBatch.ProducedProducts)
                            {   
                                <tr>
                                    <td>@ProductTypes.First(t => t.Id == producedProduct.ProductTypeId).Name</td>
                                    <td>@producedProduct.Quantity</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Material Type</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody class="cursor-pointer">
                            @foreach (var spentMaterial in _productBatch.SpentMaterials)
                            {   
                                <tr>
                                    <td>@MaterialTypes.First(t => t.Id == spentMaterial.MaterialTypeId).Name</td>
                                    <td>@spentMaterial.Amount</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Cancel</button>
                <button class="btn btn-danger" @onclick="() => DeleteClick(_productBatch.Id)">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

@if (_showDeleteModal)
{
    <div class="modal-backdrop fade show"></div>
}


@code {

    [Parameter]
    public IEnumerable<ProductType> ProductTypes { get; set; }
    
    [Parameter]
    public IEnumerable<MaterialType> MaterialTypes { get; set; }

    [Parameter]
    public EventCallback<string> OnSaveClick { get; set; }

    private string _modalDisplay = "none;";
    private string _modalClass = "";
    private bool _showDeleteModal = false;
    private ProductBatch _productBatch = new ProductBatch();

    private async Task DeleteClick(int id)
    {
        // TODO: Add some kind of "are you sure" check before this

        await ProductBatchService.Delete(id);

        await OnSaveClick.InvokeAsync(null);
        await Close();
    }

    public async Task Open(int id)
    {
        Logger.LogInformation("Now loading... /ProductBatches/Delete/{Id}", id);

        await new Css(JSRuntime).HideBodyOverflow();

        _productBatch = await ProductBatchService.GetById(id);

        _modalDisplay = "block;";
        _modalClass = "Show";
        _showDeleteModal = true;

        StateHasChanged();
    }

    private async Task Close()
    {
        await new Css(JSRuntime).ShowBodyOverflow();
        _modalDisplay = "none";
        _modalClass = "";
        _showDeleteModal = false;
    }
}
